body {
	background-image:url('../images/congruent_outline/congruent_outline.png');
	background-size: cover;
	background-repeat: no-repeat;
	color: tan;
	font-family: sans-serif;
}



#header{
	text-align: center;
	font-size: 80px;
	color: black;
	/*opacity: 0.5;*/
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

#instructions {
	text-align: center;
	width: 50%;
	height: 220px;
	color: #ff00ff;
	padding-top: 30px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
	background-color: black;
	border-radius: 15px 15px 15px 15px;
}

#ins {
	float: bottom;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	width: 150px;
	height: 55px;
	background-color: #ff00ff;
	font-size: 25px;
	border-radius: 15px 15px 15px 15px;

}

#match {
	text-align: center;
	padding-top: 15px;
	font-size: 35px;
	color: #ff00ff;
}

#subMessage {
	text-align: center;
	color: #ff00ff;
	font-size: 25px;
	padding-top: 0px;
}

#wins {
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	color: #ff00ff;
}

#losses {
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	color: #ff00ff;
}

#images {
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	color: red;


}

#score {
		background-color: black;
		width: 400px;
		height: 260px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 60px;
		border-radius: 15px 15px 15px 15px;
		color: purple;
		border-color: #ff00ff;
		border-width: 4px;
		border-style: solid;
}

#score1 {
	text-align: center;
	padding-top: 20px;
	font-size: 25px;
	color: #ff00ff;
}

#reset {
	width: 150px;
	height: 85px;
	color: #ff00de;
	background-color: black;
	font-size: 30px;
	border-radius: 15px 15px 15px 15px;
	margin-left: 635px;
	margin-top: 40px;
	border-color: #ff00ff;
	border-style: solid;
	border-width: 3px;
	margin-bottom: 25px;

}

#message {
	float: top;
	position: absolute;
}


#button1 {
	
	background-color: gray;
	border-color: #ff00ff;
	border-style: solid;
	border-width: 5px;
}


#button2 {
	
	background-color: gray;
	border-color: #ff00ff;
	border-style: solid;
	border-width: 5px;

}

#button3 {
	
	background-color: gray;
	border-color: #ff00ff;
	border-style: solid;
	border-width: 5px;

}

#button4 {
	
	background-color: gray;border-color: #ff00ff;
	border-style: solid;
	border-width: 5px;

}























